* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  // overflow: hidden;
}
body {
  background: #f0f5f8;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@import "./login";
@import "./mainContainer";
@import "./myArtistsContainer";
@import "./menu";
@import "./nav";
@import "./result";
@import "./input";
@import "./modal";
@import "./buttons";
@import "./favorite";
@import "./sliderWindow";
