* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

@import "./login";
@import "./mainContainer";
@import "./menu";
@import "./nav";
@import "./result";
@import "./input";
@import "./accordian";
@import "./modal";
