* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  background: #f0f5f8;
  // height: 100%;
}

.flex-horizontal-spaced {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  z-index: 121000;
}

@import "./login";
@import "./mainContainer";
@import "./myArtistsContainer";
@import "./menu";
@import "./nav";
@import "./result";
@import "./input";
@import "./buttons";
@import "./favorite";
@import "./sliderWindow";
@import "./checkboxs";
@import "./animations";
